body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(180, 181, 182);
}
.container {     
    width: 600px;
    height: 80vh; 
    margin:auto;    
    width: 600px;
    height: 80vh;
}
.searchBar {
    background-color: rgb(229, 117, 56);
    border-radius: 20px 20px 0 0;   
    text-align: center;
    height: 100px;
}
.search {
    border-radius: 15px;
    border: none;
    margin: 20px;
    margin-right: 0;
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}
.searchBtn {
    background-color: transparent;
    border:none;   
    cursor: pointer;
}
.search-icon {      
    width: 25px;
    height: auto;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    margin: 15px 0;
    height: 200px;
}
.city, .country {          
    position: relative;
    background-color: white; 
    box-shadow: 5px 8px #888888;
}
.city {
    position: relative;
}
.map-icon {
  position: absolute;
  left:10px;
  top: 10px;  
  width: 30px;
  height: auto;
}
.temperature {
    background-color: white;    
    height: 200px;
    margin-top: 15px;
    box-shadow: 5px 8px #888888;
    text-align: center; 
    position: relative;   
}
.temperature-icon {
  position: absolute;
  left:10px;
  top: 10px;  
  width: 40px;
  height: auto;
}

h3 {
    position: absolute;
    left: 15px;
    bottom: 15px;
    margin:0;      
}
.fetch-info {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.city-name, .country-name, .temp-value {
   font-size: 25px;
   text-align: center;
   justify-content: center;
}
.weather-icon {
  position: absolute;
  right:20px;
  top: 15px;  
  width: 50px;
  height: auto;
}

